.form-header {
    height: 121px;
    margin-bottom: 46px;
    background: #48cbe8;
    border-bottom: 17px solid #67dffa;
    text-align: center;
    line-height: 125px;
    font-size: 27px;
    color: #fff;
}

.form-wrapper {
    width: 402px;
    margin: 0 auto;
}

.form-row {
    position: relative;
    margin-bottom: 16px;
}

.form-col {
    position: relative;
    float: left;
    width: 192px;
    margin-right: 18px;
}

.form-col:last-child {
    margin-right: 0;
}

.input-label {
    display: block;
    line-height: 1.22;
    font-family: 'fira_sanslight';
    font-size: 19px;
    color: #959aa8;
}

.input {
    padding: 0 9px;
    border: 1px solid #48cbe8;
    border-radius: 4px;
    background-color: #fbfcfd;
    outline: none;
    font-size: 13px;
}

.input.error {
    border: 1px solid #f97e76;
    background-color: #fdd5d2;
}

::-webkit-input-placeholder {color:#48cbe8;}
::-moz-placeholder          {color:#48cbe8;}/* Firefox 19+ */
:-moz-placeholder           {color:#48cbe8;}/* Firefox 18- */
:-ms-input-placeholder      {color:#48cbe8;}

.tooltip-left,
.tooltip-right {
    white-space: nowrap;
    position: absolute;
    top: 45%;
    right: 100%;
    margin-right: 12px;
    color: #fff;
    background: #F97E76;
    height: 30px;
    padding: 0 15px;
    line-height: 30px;
    text-align: center;
    /* visibility: hidden; */
    border-radius: 2px;
}

.tooltip-right {
    left: 100%;
    right: inherit;
    margin-left: 12px;
}

.tooltip-left:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -8px;
    width: 0; height: 0;
    border-left: 8px solid #F97E76;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.tooltip-right:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    width: 0; height: 0;
    border-right: 8px solid #F97E76;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.text-input {
    width: 172px;
    height: 39px;
}

.div-label {
    margin-top: -12px;
    font-family: 'fira_sanslight';
    font-size: 17px;
    color: #959aa8;
}

.form-button {
    width: 140px;
    height: 30px;
    margin-top: 17px;
    outline: none;
    font-size: 19px;
    color: #fff;
}

.submit {
    position: relative;
    float: left;
    background-color: #48cbe8;
    border:0px;
    border-bottom: 1px solid #80d8ed;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 #3ba8c0;
}

.submit:hover {
    top: 2px;
    background-color: #48cbe8;
    border-bottom: 1px solid #48cbe8;
    box-shadow: 0 2px 0 0 #48cbe8;
}

.submit:active {
    top: 2px;
    background-color: #3ba8c0;
    border-bottom: 1px solid #3ba8c0;
    box-shadow: 0 2px 0 0 #3ba8c0;
}

.reset {
    position: relative;
    float: right;
    background-color: #849db5;
    border:0px;
    border-bottom: 1px solid #7b92a8;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 #687b8f;
}

.reset:hover {
    top: 2px;
    background-color: #849db5;
    border-bottom: 1px solid #849db5;
    box-shadow: 0 2px 0 0 #849db5;
}

.reset:active {
    top: 2px;
    background-color: #687b8f;
    border-bottom: 1px solid #687b8f;
    box-shadow: 0 2px 0 0 #687b8f;
}