.form-contact {
    height: 840px;
}

.form-header {
    height: 121px;
    margin-bottom: 46px;
    background: #48cbe8;
    border-bottom: 17px solid #67dffa;
    text-align: center;
    line-height: 125px;
    font-size: 27px;
    color: #fff;
}

.form-wrapper {
    width: 402px;
    margin: 0 auto;
}

.form-row {
    margin-bottom: 16px;
}

.form-col {
    float: left;
    width: 192px;
    margin-right: 18px;
}

.form-col:last-child {
    margin-right: 0;
}

.input-label {
    display: block;
    line-height: 1.22;
    font-family: 'fira_sanslight';
    font-size: 19px;
    color: #959aa8;
}

.input {
    padding: 0 9px;
    border: 1px solid #48cbe8;
    border-radius: 4px;
    color: #48cbe8;
    background-color: #fbfcfd;
    outline: none;
    font-size: 13px;
}

.text-input {
    width: 172px;
    height: 39px;
}

.input-area {
    width: 382px;
    height: 163px;
    padding: 9px;
    resize: none;
    outline: none;
}

.div-label {
    margin-top: -12px;
    font-family: 'fira_sanslight';
    font-size: 17px;
    color: #959aa8;
}

.captcha {
    float: left;
    vertical-align: middle;
    text-align: center;
    width: 189px;
    height: 77px;
    margin-right: 19px;
    border: 1px solid #48cbe8;
    border-radius: 4px;
    background: #fbfcfd;
    overflow: hidden;
}

.captcha-input {
    width: 172px;
    height: 30px;
    margin-top: 20px;
    font-family: 'fira_sanslight';
}

.form-button {
    width: 140px;
    height: 30px;
    margin-top: 17px;
    outline: none;
    font-size: 19px;
    color: #fff;
}

.submit {
    float: left;
    background-color: #48cbe8;
    border:0px;
    border-bottom: 1px solid #80d8ed;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 #3ba8c0;
}

.submit:hover {
    background-color: #48cbe8;
    border-bottom: 1px solid #48cbe8;
    box-shadow: 0 2px 0 0 #48cbe8;
}

.submit:active {
    background-color: #3ba8c0;
    border-bottom: 1px solid #3ba8c0;
    box-shadow: 0 2px 0 0 #3ba8c0;
}

.reset {
    float: right;
    background-color: #849db5;
    border:0px;
    border-bottom: 1px solid #7b92a8;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 #687b8f;
}

.reset:hover {
    background-color: #849db5;
    border-bottom: 1px solid #849db5;
    box-shadow: 0 2px 0 0 #849db5;
}

.reset:active {
    background-color: #687b8f;
    border-bottom: 1px solid #687b8f;
    box-shadow: 0 2px 0 0 #687b8f;
}